html,
body {
    margin: 0;
    font-family: sans-serif;
}

/* themes */

body {
    background: var(--secondary-bg);
    font-family: var(--sans);

    --sans: 'IBM Plex Sans', sans-serif;
    --mono: 'IBM Plex Mono', monospace;
	--sidebar-width: 450px;

    /* color variables taken from Merlot */
    --primary-bg: #fff;
    --primary-text: #111111;
    --secondary-bg: #f3f4f6;
    --secondary-text: #9b9b9b;
    --hover-bg: #eaebec;
    --active-bg: #dcdfe4;
    --translucent: rgba(249, 250, 251, .8);
    --transparent: rgba(249, 250, 251, 0);
    --search-highlight: #a6f1e1;
}

.dark {
    --primary-bg: #1f2427;
    --primary-text: #ebebeb;
    --secondary-bg: #373c3f;
    --secondary-text: #a4a7a9;
    --hover-bg: #474c50;
    --active-bg: #626569;
    --translucent: rgba(47, 52, 55, .8);
    --transparent: rgba(47, 52, 55, 0);
    --search-highlight: #36655b;
}

/* resets */

a {
    color: var(--primary-text);
    text-decoration: underline;
}

button {
    padding: 0;
    font-size: 1em;
}

pre,
code {
    font-size: 1em;
    font-family: var(--mono);
}

input,
select,
option,
textarea {
    color: var(--primary-text);
    font-size: 1em;
    font-family: var(--sans);
}

.search-highlight {
	background: var(--search-highlight);
    display: inline-block;
    border-radius: 3px;
}

/* loading animation */

.loading {
    width: 100%;
    flex-grow: 1;
    margin: 0;
    height: 3px;
    position: relative;
    background: var(--hover-bg);
    overflow: hidden;
}

@keyframes slider {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.loading::after {
    content: '';
    display: block;
    height: 100%;
    width: 60%;
    padding-right: 40%;
    background-color: var(--primary-text);
    position: absolute;
    top: 0;
    left: 0;
    animation: slider 1s linear infinite;
}

/* app styles */

#root,
.app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: var(--primary-text);
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
	width: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sidebar-stats {
    font-size: 14px;
    margin: 0 12px 8px 12px;
    color: var(--secondary-text);
}

.search-box-input {
    padding: 16px 12px;
	border: 0;
	background: transparent;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.search-box-input:focus {
    outline: 0;
}

.search-results {
    overflow-y: auto;
	-webkit-overflow-scrolling: auto;
}

.search-results ol.search-results-list {
	padding-left: 0;
	margin: 0;
}

li.search-result {
	list-style: none;
    cursor: pointer;
    font-weight: normal;
    padding: 6px 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    border-left: 3px solid transparent;
}

.search-result:hover,
.search-result.selected {
	background: var(--primary-bg);
}

.search-result.selected {
    border-left: 3px solid var(--secondary-text);
}

.search-result .search-result-module {
	display: inline-block;
	width: 100px;
}

.search-result .search-result-title {
}

.search-result .search-result-content {
    overflow: hidden;
    line-height: 1.4em;
	color: var(--secondary-text);
}

.search-results-show-all {
	cursor: pointer;
	background: transparent;
	border: 0;
	color: var(--secondary-text);
	padding: 6px 12px;
}

.search-results-show-all:hover {
	text-decoration: underline;
}

.search-results-bottom-padding {
	height: 6em;
}

.doc-preview {
	width: calc(100% - var(--sidebar-width));
	min-width: 320px;
    max-width: 800px;
	overflow-y: auto;
	-webkit-overflow-scrolling: auto;
    background: var(--primary-bg);
	box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
}

/* Merlot Markdown output styles */

.doc-preview-content {
	white-space: pre-wrap;
	margin: 12px 12px 32px 12px;
	padding: 1em;
}

.doc-preview-content h1:first-child,
.doc-preview-content h2:first-child,
.doc-preview-content p:first-child {
	margin-top: 0;
}

.doc-preview-content p,
.doc-preview-content li {
    line-height: 1.5em;
}

.doc-preview-content strike {
    color: var(--secondary-text);
}

.doc-preview-content img {
    max-width: 100%;
}

.doc-preview-content a {
    color: var(--primary-text);
    text-decoration: underline;
}

.doc-preview-content pre,
.doc-preview-content code {
    background: var(--hover-bg);
    font-size: 1em;
    font-family: 'IBM Plex Mono', 'Menlo', 'Monaco', monospace;
}

.doc-preview-content pre {
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 8px;
    overflow-x: auto;
}

.doc-preview-content code {
    padding: 1px 5px;
    border-radius: 4px;
}

.doc-preview-content pre code {
    padding: 0;
}

.doc-preview-content blockquote {
    margin: 0;
    border-left: 4px solid var(--active-bg);
    padding-left: 1em;
    display: block;
}


